fastapi
uvicorn[standard]
pydantic
firebase-admin==7.1.0
email-validator
PyJWT
python-dotenv
pydantic-settings
openai == 2.1.0

# Testing dependencies
pytest
pytest-asyncio
httpx==0.28.1
pytest-mock

# Development dependencies
ruff
pre-commit
bandit
isort
